<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 가입</title>
</head>
<body>
<h2>회원 가입</h2>
<form action="#" th:action="@{/member/memberForm}" th:object="${member}" method="post">
    <label for="name">이름:</label><br>
    <input type="text" id="name" th:field="*{name}" required><br>
    <label for="email">이메일:</label><br>
    <input type="email" id="email" th:field="*{email}" required><br>
    <input type="submit" value="회원 가입">
</form>
<p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
</body>
</html>
