<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 목록</title>

</head>
<body>
<h2>회원 목록</h2>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>이름</th>
        <th>이메일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.email}"></td>
        <td><a th:href="@{/member/updateForm/{id}(id=${member.id})}">Update</a></td>
        <td><a th:href="@{/member/delete/{id}(id=${member.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<button onclick="location.href='/memberForm'">회원 가입</button>
</body>
</html>
